@model PL.Models.GoodsViewModel

<form method="post" action="EditGoods">
    <input type="hidden" value=@Model.Id name="Id" />
    <table>
        <tr><td><p>GoodsName: </p></td>
            <td><input type="text" value="@Model.Name" name="Name" /> </td></tr>
        <tr><td><p>Count: </p></td>
            <td><input type="number" min="0" step="1" name="count" /> </td></tr>
        <tr><td><p>Price: </p></td>
            <td><input type="number" min="0" step=".01" placeholder="0.00" required name="price" /> </td></tr>
        <tr><td><input type="submit" value="Update" /> </td>
                <td></td></tr>
    </table>
</form>
@Html.ActionLink("Back", "ShowGoods")
